/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 23, 2018, 7:30:19 AM
    Author     : 
*/

.player
{
    width: 400px;
    height: 300px;
    overflow:hidden;
    position: absolute;
}
img
{
    width: 400px;
}